body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}


canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;  
  height: 100% !important;  
  display: block;
}

.fixer {
  position: fixed;
  margin: 20;
  left: 20px;
  z-index: 10;        /* 캔버스 위에 나타남 */
  color: yellow;
  text-shadow: 0 0 7px red, 0 0 10px red, 0 0 21px red;
  font-size: 20px;
  font-family: 'Gothic A1', sans-serif;
}

/* 공통 버튼 스타일 */
button {
  all: unset;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid red;
  background: red;
  color: yellow;
  cursor: pointer;
  box-shadow: 0 0 7px red, 0 0 10px red, 0 0 21px red;
  font-family: inherit;
  text-align: center;
  transition: 0.25s;
  font-size: 14px;
}

/* hover 효과 */
button:hover {
  background: white;
  color: black;
}

/* 위치는 이미 잘 되어 있음 */
.button-left {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
}

.button-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

/* 링크 밑줄 제거 */
a {
  text-decoration: none;
  color: inherit;
}


@media (max-width: 768px){
  .button-right{
    display: none;
  }
  .button-left{
    left: 50%;
    transform: translateX(-50%);
  }

  button {
  padding: 1px 5px;
  font-size: 12px;
}

  .fixer{
    font-size: 15px;
  }
}